wheel
Django==3.2.12
django-mysql==4.1.0
mysqlclient
PyYAML>=5.4
requests
djangorestframework==3.12.4
jira
selenium
croniter
pika==1.2.0
apscheduler==3.8.0
git+https://github.com/utking/django-graphos.git#egg=django-graphos
