{% extends 'base.html' %}

{% block content %}
    <h3 class="title is-4">{{ title }}</h3>

    <div class="column">
        <a href="/checks/create" class="button is-link">Create...</a>
    </div>

    {% if items %}
        <table class="table is-fullwidth">
        <thead>
            <tr class="is-selected">
                <th class="id-col">#</th>
                <th>Service</th>
                <th>Location</th>
                <th>Tags</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>
                    <a href="/checks/create/{{ item.id }}" class="is-link">{{ item.name }}</a>
                </td>
                <td>
                    <a href="/checks/location/{{ item.config.location }}" class="is-link">{{ item.config.location }}</a>
                </td>
                <td>
                    {% if item.config.tags %}
                        {%  for tag in item.config.tags %}
                            <span class="tag is-warning" >{{ tag }}</span>
                        {% endfor %}
                    {% endif %}
                </td>
                <td>
                    <a href="/monitor/run/{{ item.id }}" class="button is-small">
                        <span class="panel-icon">
                          <i class="fas fa-play" aria-hidden="true" title="Rerun"></i>
                        </span>
                    </a>
                    <a href="/checks/delete/{{ item.id }}" class="button is-small">
                        <span class="panel-icon">
                          <i class="fas fa-minus-circle" aria-hidden="true" title="Delete"></i>
                        </span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    {% endif %}
{% endblock %}

{% block custom_css %}
    <style>
        table th.id-col {
            width: 3em;
        }
    </style>
{% endblock %}