{% extends 'base.html' %}
{% load humanize %}

{% block content %}
    <h3 class="title is-4">{{ title }}</h3>

    {% if chart_timings %}
    {{ chart_timings.as_html }}
    {% endif %}

    <div class="column">
        {% if items %}
        <table class="table is-fullwidth">
        <thead>
            <tr class="is-selected">
                <th class="id-col">#</th>
                <th>Service</th>
                <th>Check time</th>
                <th>Status</th>
                <th>Resp. Code</th>
                <th>Resp. time, ms</th>
                <th>Location</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>
                    <a href="/monitor/history/{{ item.check_id }}" class="is-link">{{ item.name }}</a>
                </td>
                <td>
                    <a href="/monitor/view/{{ item.id }}" class="is-link">{{ item.created_at }}</a>
                </td>
                <td>
                    <span>{{ item.success | yesno:"Ok,Fail,?" }}</span>
                </td>
                <td>
                    <span>{{ item.resp_code | default_if_none:"" }}</span>
                </td>
                <td>
                    <span>{{ item.timings.2 | intcomma }}</span>
                </td>
                <td>
                    <a href="/checks/location/{{ item.location }}" class="is-link">{{ item.location }}</a>
                </td>
                <td>
                    <a href="/monitor/run/{{ item.check_id }}" class="button is-small">
                        <span class="panel-icon">
                          <i class="fas fa-play" aria-hidden="true"></i>
                        </span>
                        <span>Rerun</span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    {% endif %}
    </div>
{% endblock %}

{% block custom_css %}
    <style>
        table th.id-col {
            width: 3em;
        }
    </style>
{% endblock %}